@import "../../vars.css";

.card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(12, 12, 12, 0.6);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 400px;
    position: relative;
    margin: auto;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.1);
}

.imgs {
    border-radius: 10px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 340px;
    height: auto;
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 15px;
    font-weight: 300;
    color: antiquewhite;
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}

.skill {
    font-size: 15px;
    font-weight: 400;
    border-radius: 50px;
    background: var(--color-dark);
    padding: 2px 10px;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link {
    text-decoration: none;
    color: antiquewhite;
    font-size: 40px;
    border-radius: 100px;
    padding: 1px 2px;
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.1);
}

@media (max-width: 900px) {
    .card {
        padding: 14px 20px;
    }

    .imgs {
        width: 100%;
        max-width: 300px;
    }

    .title {
        font-size: 22px;
    }

    .description {
        font-size: 14px;
    }

    .skills {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;
    }

    .skill {
        font-size: 14px;
        padding: 2px 8px;
    }

    .links {
        flex-direction: row;
        gap: 10px;
    }

    .link {
        font-size: 35px;
        padding: 2px 4px;
    }
}


@media (max-width: 600px) {
    .card {
        max-width: 100%;
    }

    .title {
        font-size: 18px;
    }

    .description {
        font-size: 12px;
    }

    .imgs {
        width: 100%;
    }

    .skills {
        flex-direction: column;
        gap: 4px;
    }

    .skill {
        font-size: 12px;
        padding: 2px 6px;
    }

    .links {
        flex-direction: row;
        gap: 8px;
    }

    .link {
        font-size: 30px;
        padding: 2px 3px;
    }
}